/* You can add global styles to this file, and also import other style files */
.pt10 {
    padding-top: 10px
}

.ft23 {
    font-size: 23px;
}
.ft20 {
    font-size: 20px;
}
.ft19 {
    font-size: 19px;
}