/* You can add global styles to this file, and also import other style files */

.pt10 {
    padding-top: 10px
}

.pt60 {
    padding-top: 60px
}

.ft23 {
    font-size: 23px;
}
.ft20 {
    font-size: 20px;
}
.ft19 {
    font-size: 19px;
}

.textCenter{
    text-align: center;;
}