<div class="dynamicDisplay">
  <chart type="boxplot" class="dynamicWidth" [data]="firstBoxPlotData" [options]="options"></chart>
  <chart type="boxplot" class="dynamicWidth" [data]="secondBoxPlotData" [options]="options"></chart>
</div>
<div class="dynamicDisplay">
  <chart type="boxplot" class="dynamicWidth" [data]="thirdBoxPlotData" [options]="options"></chart>
  <chart type="boxplot" class="dynamicWidth" [data]="fourthBoxPlotData" [options]="options"></chart>
</div>
<div class="dynamicDisplay">
  <chart type="boxplot" class="dynamicWidth" [data]="fifthBoxPlotData" [options]="options"></chart>
  <chart type="boxplot" class="dynamicWidth" [data]="sixthBoxPlotData" [options]="options"></chart>
</div>
<div class="dynamicDisplay">
  <chart type="boxplot" class="dynamicWidth" [data]="seventhBoxPlotData" [options]="options"></chart>
  <chart type="boxplot" class="dynamicWidth" [data]="eighthBoxPlotData" [options]="options"></chart>
</div>
<div class="dynamicDisplay">
  <chart type="boxplot" class="dynamicWidth" [data]="ninthBoxPlotData" [options]="options"></chart>
  <chart type="boxplot" class="dynamicWidth" [data]="tenthBoxPlotData" [options]="options"></chart>
</div>
